.container-1 /*, .container-2, .container-3, .container-4, .container-5 */{
    border: 3px solid rgb(147, 90, 185);
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-1 /*, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, .flex-blackjack-row-1,
.flex-blackjack-row-2, .flex-blackjack-row-3*/ {
    display: flex;
    border: 1px solid rgb(147, 90, 185);
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    background: url('table.jpg');
    color: #ffffff;
}

.flex-blackjack-row-1 div {
    border: 1px solid rgb(147, 90, 185);
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}
.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button, .flex-blackjack-row-2 div {
    border: 1px solid rgb(147, 90, 185);
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid rgb(147, 90, 185);
    background-color: rgb(211, 130, 73);
}
*/
.flex-box-container-1 div{
    padding: 10px;
    border: 2px solid rgb(147, 90, 185);
}
/*
.flex-box-container-2 img, .flex-box-rps img:hover{
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 10px 50px rgb(147, 90, 185);
}

*/